@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700&display=swap");
:root {
  font-size: 2vh;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
  }
  .App {
    text-align: center;
    color: #61dafb;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    .Config {
      border: 5px solid #61dafb;
      padding: 2rem 4rem;
      border-radius: 25px;

      .config-container {
        padding: 0.5rem;
        font-size: 2rem;
        border: 5px solid #61dafb;
        background-color: white;
        border-radius: 25px;
        margin: 1rem 0;
        color: #282c34;

        .plus,
        .minus {
          color: red;
          font-size: 4rem;
          cursor: pointer;
        }
        .plus:hover,
        .minus:hover {
          color: green;
          transition-duration: 200ms;
        }
      }
    }
    .Clock {
      padding: 4rem 2rem;
      border: 5px solid #61dafb;
      border-radius: 0 25px 25px 0;
      border-left: none;
      .clock-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .clockTitle {
          padding: 1.5rem;
          font-size: 3rem;
        }
        .time-left {
          min-width: 20vw;
          color: #282c34;
          border: 5px solid #61dafb;
          border-radius: 25px;
          background-color: white;
          font-family: "Orbitron", sans-serif;
          font-size: 4rem;
        }
        .control-buttons {
          margin-top: 3rem;
        }
        #start_stop,
        #reset {
          cursor: pointer;
          color: white;
          font-weight: 700;
          font-size: 2rem;
          background-color: #61dafb;
          padding: 1rem 2rem;
          border: 5px solid #61dafb;
          border-radius: 25px;
        }
        #reset {
          margin-top: 2rem;
          padding: 1rem 4.5rem;
        }
        #reset:hover,
        #start_stop:hover {
          background-color: red;
          transition-duration: 200ms;
        }

        #reset:active,
        #start_stop:active {
          transition-duration: 100ms;
          background-color: green;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .App {
      flex-direction: column;
      .Config {
        border-radius: 25px 25px 0 0;
        border-bottom: none;
      }
      .Clock {
        border-radius: 25px;
        border-left: 5px solid #61dafb;
      }
    }
  }
}
